.borders {
    border:1px solid;
}

body {
	background-color: #f9f9f9;
}
/********* TOP HALF ***********/
.mainContainer {
    margin-top: 10px
}

.logo {
    
}

.topRight {
    padding:0px;
    height:40px;
    margin-top:5px;
}

ul.rightList li {
    list-style:none;
    display:inline;
    margin:0px;
    margin-left: 5px;
}

ul.rightList a {
    text-decoration: none;
}

.rightImage {
    height: 38px;
    width: 38px;
}
/********* END TOP HALF ***********/


/************ CONTENT BODY ************/

.contentContainer {
    margin:0px;
    padding: 15px 0 0px 0;
    padding-left:0px;
    margin-left:0px;
}

.inputContainer{
    height: 150px;
    padding-left:0px;
    margin-left:0px;

}

.outputContainer {
    margin-top:15px;
    height: 150px;
    padding-left:0px;
    margin-left:0px;
    margin-bottom:0px;

}

.rightContainer {
    height: 370px;
    border: 3px #c4cde0 solid;
    background-color:#f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding:5px;
}

textarea {
	width: 380px;
    	height: 150px;
	border: 3px #c4cde0 solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
	font-size: 14px;
}

#feedback_name {
	margin: 10px 0 0 0px;
	width: 350px;
	border: 3px #c4cde0  solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
}

#feedback_website {
	margin: 10px 0 0 0px;
	width: 350px;
	border: 3px #c4cde0  solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
}

#feedback_email {
	margin: 10px 0 0 0px;
	width: 350px;
	border: 3px #c4cde0  solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
}

#feedback_text {
	margin: 10px 0 0 00px;
	width: 450px;
	border: 3px #c4cde0  solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
}

/************ END CONTENT BODY ************/




/********** BOTTOM CONTAINER ************/

.bottomContainer {
    width:inherit;
    border: 3px #c4cde0 solid;
    background-color:#f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding:0px;
    margin-top: 10px;
}

.bottomContainer p{
    width: inherit;
    text-align: center;
}

/********** END BOTTOM CONTAINER ************/


/************** NAVIGATION *****************/

ul#navigation {
	height: 25px;
	padding: 7px 20px 0 5px;
	width: 595px;
	margin: 0;
	position: relative;
	overflow: hidden;
}

ul#navigation li {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: left;
	width: 60px;c4cde0 
	margin: 0 10px 0 0;
	background-color: #f0f0f0;
	border: solid 1px #e4e4e4;
	position: relative;
	z-index: 1;
	list-style: none;
}

ul#navigation li.selected {
	z-index: 3;
}

ul#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -4px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

ul#navigation li a:link, ul#navigation li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 60px;
	height: 30px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 9px;
	font-weight: bold;
	color: #000;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #f0f0f0;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#navigation li a:hover {
	background-color: #e2ebfe;
}

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
	color: #000000;
	border: solid 1px #e2ebfe;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #e2ebfe),color-stop(.8, #f0f0f0));
	background-color: #e2ebfe;
}

/************** END NAVIGATION *****************/

/************ TABS ******************/
.tab_container {
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

ul.listItems {
	padding: 10px;
}

ul.listItems li{
	list-style: none;
}

/************** END TABS ***************/


/*************** LIST *********************/

ul.listItems {
    margin:0;
    font-family: sans-serif;
    font-size: 14px;
    list-style: none;
}

ul.listItems li {
    margin-left: 40px;
}

.separator {
    margin:10px;
    margin-left: 40px;
    border-bottom:1px solid #cec2c2;
    width:500px;
}
/*************** END LIST *********************/


/*************** ADDED NEW CLASS **************/

.tweetBtn {
	float: right;
	margin-top:-15px;
	height: 50px;
	width: 60px;
}

.tweetbtnlarge {
	margin-top: 10px;
}

.clearbtn{
	margin-top:-20px;
}

.ff_logo {
	float: left;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.refTable {
	font-size: 14px;
	font-weight: 600;
	padding:0px;
	font-size: 16px;
}
.refTableTr{	
	margin-bottom: 10px;
}

 .sep {
	color: red;
}

.ErrorVal {
	color: red;
	background-color:#f7c489;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.ErrorVal2 {
	margin-top:5px;
	color: red;
	background-color:#f7c489;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.info_text {
	margin-right: 10px;
	padding: 10px;
	text-align: justify;
	font-size: 14px;
}

.headername {
	font-size: 22px;
	color: #5f92cb;
	font-weight: 500;
}
/************** FEEDBACK ********************/
ul.sideRefBar {
	position: fixed;
	right: 0px;
	top: 200px;
}

ul.sideRefBar li{
	list-style:none;    
}

.inputDefault {
	text-decoration: italic;
	color: #000;
}

.inputDefaultActive {
	color: gray;
}

.submit_btn {
	float: right;
	margin-top: 10px;
}

#feedback_name, #feedback_website, #feedback_email, #firefox_email, #chrome_email, #android_email {
	margin: 10px 0 0 0px;
	width: 350px;
	border: 3px #c4cde0  solid;
	background-color:#f9f9f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
}


#feedback_text {
	margin: 10px 0 0 00px;
	width: 450px;
	border: 3px #c4cde0 solid;
	background-color:#f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
}
.side_feed {
	float: right;
	width: 32px;
	margin-bottom: 5px;
	margin-right:0px;
	margin-top:5px;
	padding:0px;
}
/*************END OF FEEDBACK **************/


/************** FOOTER *********************/

.footer {
	margin-top: 5px;	
	text-align: center;
	color: #000;

}

.footer p {
	margin-top:-10px;
}

.footer hr {
	color: #cec2c2;
}

.footer a {
	color: #000;
}
/************ END FOOTER ******************/

    
